web_service/Math Webservice BPEL/Math Webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example.ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example.ws" xmlns:intf="http://example.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example.ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doSomething">
    <complexType>
     <sequence>
      <element name="myinput" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name=" Math Webservice Response">
    <complexType>
     <sequence>
      <element name="Math Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="Math Webservice Request">

      <wsdl:part element="impl:Math Webservice" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="Math Webservice Response">

      <wsdl:part element="impl:Math Webservice Response" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Math Webservice">

      <wsdl:operation name="Math Webservice">

         <wsdl:input message="impl:Math Webservice Request" name="Math Webservice Request"/>

         <wsdl:output message="impl:Math Webservice Response" name="Math Webservice Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Math Webservice SoapBinding" type="impl:Math Webservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Math Webservice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="Math Webservice Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="Math Webservice Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Math Webservice Service">

      <wsdl:port binding="impl:Math Webservice SoapBinding" name="Math Webservice">

         <wsdlsoap:address location="http://localhost:8080/Math WebService/services/Math Webservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
